<%= erb :'layout/html_header' %>
<body>
  <div data-role="page">
  <%= erb :'layout/page_header' %>
    <div data-role="content" class="ui-content" role="main">
      <ul data-role="listview" data-theme="d">
        <% @posts.each do |post_information| %>
          <li data-theme="b">
            <% user = post_information[:user] %>
            <%= user.username %><br />
            <%= user.post_count %> <br />
            <%= user.location %>
          </li>
          <li> 
            <% post = post_information[:post] %>
            <%= post.content.force_encoding("ISO-8859-1").encode("UTF-8") %> 
          </li>
        <% end %>
      <ul>
    </div>
    <div data-role="footer">
    <div data-role="navbar">
      <ul>
        <li><a href="#" >Full Forum</a></li>
        <li><a href="#" onclick="go_to_page(<%=@thread_information[:id]%>)">Page <%= @thread_information[:current_page] %> of <%= @thread_information[:max_page] %></a></li>
        <li><a href="#">Reply</a></li>
      </ul>
    </div> 
      <a href="/thread/<%=@thread_information[:id] %>/page/<%= @thread_information[:current_page].to_i - 1 %>" data-role="button" data-icon="arrow-l">Previous Page</a>
      <span style="float:right">
        <a href="/thread/<%= @thread_information[:id] %>/page/<%= @thread_information[:current_page].to_i + 1 %>" data-role="button" data-icon="arrow-r">Next Page</a>
      </span>
    </div> 
  </div>
</body>
</html>
